.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.navbar-brand {
    color: #df3ca6;
}

.navbar-brand img {
    width: 30px;
    margin-right: 10px;
}

.btn {
    font-size: 15px;
}

.btn-primary,
.bg-primary {
    background-color: #df3ca6 !important;
    border: none;
}

.btn-primary:hover {
    background-color: #df3ca6;
    opacity: 0.9;
}

.btn-secondary {
    background-color: #7430f9;
}

.btn-secondary:hover {
    background-color: #7430f9;
    opacity: 0.9;
}

.icon {
    margin-right: 5px;
}
